name: lint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: setup
        uses: actions/setup-python@v1
        with:
          python-version: 3.11
      - name: install uv
        run: pip install uv
      - name: install dependency
        run: uv sync
      - name: run lint
        run: uv run poe lint
